@charset 'utf-8';

header{
    height: 50px;
    position: relative;
}

.weixin_success{
    top: 0;
    left: 0;
}
input{
    line-height: 36px;
    padding: 0 10px;
    /*appearance: none;*/
}
.article{
    padding: 10px;
    line-height: 40px;
}
.fix-input{
    background: #eee;
    width: 100%;
    height: 50%;
    border: 1px solid #ddd;
    top: 0;
    position: fixed;
}
.fix-input input{

}
