.wrapper{
    height: 100%;
    width: 100%;
    background-image: url(http://i2.w.hjfile.cn/news/201505/201505063473484729.jpg);
    background-color: rgb(255, 255, 255);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.page .m_cont{
    background-color: rgba(0,0,0,.5);
}
.page0 .m_cont{
    background-color: rgba(255, 255, 255, 0);
}
/**/
.item1{
    position: absolute;
    width: 90%;
    left: 5%;
    height: 10%;
    top: 87%;
    background-color: #f50;
}
.item2{
    position: absolute;
    width: 30%;
    height: 30%;
    left: 65%;
    top: 52%;
    background-color: #f90;
}
.item3{
    position: absolute;
    width: 90%;
    height: 10%;
    left: 5%;
    top: 3%;
    background-color:rgb(46, 184, 74);
    color: #FFF;
    text-align: center;
    border-radius: 5px;

    display: table;
}

.item_elem{
    display: table-cell;
    vertical-align: middle;
}

.item4{
    position: absolute;
    width: 30%;
    height: 20%;
    left: 10%;
    top: 20%;
    background: url(http://i2.w.7.hjfile.cn/entry/201507/2cd3094d-f7b6-4e0f-8c75-4f847c94586f.jpg) no-repeat;
    background-size: 100% auto;
    /*background-position: center;*/
}
.item5{
    position: absolute;
    -webkit-transform: rotate(30deg);
    transform: rotate(30deg);
    width: 15%;
    height: 10%;
    left: 10%;
    top: 50%;
    background-color: #fb0;
}