.mu-preload{
    position: fixed;
    width: 100%;
    height: 100%;
    left: 0;
    top: 0;
    background: #FFF;
    z-index: 3;
}
.mu-preload-logo{
    width: 150px;
    height: 80px;
    margin: 0 auto;
    background: url('http://www.hujiang.com/2010/images/default2015/logo.png') no-repeat;
    background-size: 100% auto;
}
.mu-preload-line{
    height: 5px;
    width: 0;
    background-color: #9F0;
    -webkit-transition: width .3s ease;
    transition: width .3s ease;
}
.mu-preload-cont{
    position: absolute;
    width: 200px;
    height: 50px;
    left: 50%;
    top: 50%;
    margin-left: -100px;
    margin-top: -25px;
    text-align: center;
}